extends ../layouts/default

block intro
	.container
		h1 Gallery
	
block content
	//- script(type='text/javascript' src='scripts/require.js')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', type='text/javascript')
	link(href='/keystone/styles/keystone.min.css', rel='stylesheet')
	script.
		var selectedImages = [] 
		$(document).ready(function(){
			$("button").click(function(){
				$.get("/api/foo",
					{
						name: "IMAGES",
						data: selectedImages.toString(),
					});
				window.setTimeout(  
				function( ) {  
					  window.location.replace("/keystone/results");
				},  
				4000);
		 	});
		});
		function handleClick(cb){
			var s = cb.value.search("url:")
			var e = cb.value.search("secure_url:")
			url = cb.value.substring(s+5, e-4)
			if (cb.checked)
				selectedImages.push(url)
			else
				var index = selectedImages.indexOf(url)
				if (index > -1) 
					selectedImages.splice(index, 1)
		}
		function toggle(source) {
			selectedImages = []
			checkboxes = document.getElementsByName('check')
			for(var i=0, n=checkboxes.length;i<n;i++){ 
				checkboxes[i].checked = source.checked
				handleClick(checkboxes[i])
			}
		}

	.container

		if galleries.length
			.row
				.col-sm-8
					
					each gallery in galleries
						| <h2 id = #{gallery.name}>#{gallery.name}</h2>
						
						.row.gallery-images
							each image in gallery.images
								.col-xs-6.col-sm-4.col-md-3.gallery-image
									img(src=image.limit(300,300), onclick="window.open(this.src)" alt=image.public_id).img-rounded
									
									input(name="check",type='checkbox', checked=false, value=image, onchange='handleClick(this);')
									|	Dot #{image.public_id}
			.div(style='position: fixed; bottom: 0px; right:20px')
				.panel.panel-default
					.panel-body
						| </br>
						
						h3.panel-title: Go Go to gallery:
						| </br>
						each gallery in galleries
							p &#09 &#09 • &#09
								a(href='#'+gallery.name) #{gallery.name} </br>
						| <br>
					h3.panel-title: a(href='/test') Run Tests
					.panel-body
						input(type='checkbox', onchange='toggle(this)')
						|  Select All

						button(class = 'Button Button--success') SUBMIT FOR TESTING	
		else
			h3.text-muted There are no image galleries yet.
